<div>
<a href="/post/{{id}}">
</div>

<div class="title">
     {{title}}
</div></a>

<div class="body">
    {{post_body}}
    </div>

    <div class="username">
      <a href="/users/{{id}}">{{user.username}}</a>
      </div>

      - Created on:
      {{format_time created_at}}
      - Updated on:
      {{format_date updated_at}}